In [1]:
import pandas as pd
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("C:/Users/Shafiq/Desktop/arsh LU/train.csv")

data

         source_node  destination_node
0                  1            690569
1                  1            315892
2                  1            189226
3                  2            834328
4                  2           1615927
...              ...               ...
1048570       205019            506440
1048571       205019           1382215
1048572       205019             43733
1048573       205019            762655
1048574       205019            811177

[1048575 rows x 2 columns]

# EDA

In [3]:
data.isna().sum()

source_node         0
destination_node    0
dtype: int64

In [4]:
data.dtypes

source_node         int64
destination_node    int64
dtype: object

In [5]:
data.duplicated().sum()

0

In [6]:
data.shape

(1048575, 2)

In [7]:
G=nx.from_pandas_edgelist(data,source="source_node",target="destination_node",create_using=nx.DiGraph)


print(nx.info(G))

C:\Users\Shafiq\AppData\Local\Temp\ipykernel_12316\469392371.py:4: DeprecationWarning: info is deprecated and will be removed in version 3.0.

  print(nx.info(G))

DiGraph with 706881 nodes and 1048575 edges

In [8]:
G.order()

706881

In [9]:
print("Total No of Users: ",len(G.nodes))

Total No of Users:  706881

In [10]:
indegree_dist = list(dict(G.in_degree()).values())
indegree_dist.sort()

In [11]:
for i in range(0,11):
    print(90+i,'percentile value is',np.percentile(indegree_dist,90+i))

90 percentile value is 3.0
91 percentile value is 3.0
92 percentile value is 3.0
93 percentile value is 4.0
94 percentile value is 4.0
95 percentile value is 4.0
96 percentile value is 5.0
97 percentile value is 5.0
98 percentile value is 6.0
99 percentile value is 8.0
100 percentile value is 59.0

In [12]:
for i in range(0,11):
    print(50+i,'percentile value is',np.percentile(indegree_dist,50+i))

50 percentile value is 1.0
51 percentile value is 1.0
52 percentile value is 1.0
53 percentile value is 1.0
54 percentile value is 1.0
55 percentile value is 1.0
56 percentile value is 1.0
57 percentile value is 1.0
58 percentile value is 1.0
59 percentile value is 1.0
60 percentile value is 1.0

In [13]:
for i in range(0,11):
    print(20+i,'percentile value is',np.percentile(indegree_dist,20+i))

20 percentile value is 1.0
21 percentile value is 1.0
22 percentile value is 1.0
23 percentile value is 1.0
24 percentile value is 1.0
25 percentile value is 1.0
26 percentile value is 1.0
27 percentile value is 1.0
28 percentile value is 1.0
29 percentile value is 1.0
30 percentile value is 1.0

In [14]:
for i in range(0,11):
    print(70+i,'percentile value is',np.percentile(indegree_dist,70+i))

70 percentile value is 2.0
71 percentile value is 2.0
72 percentile value is 2.0
73 percentile value is 2.0
74 percentile value is 2.0
75 percentile value is 2.0
76 percentile value is 2.0
77 percentile value is 2.0
78 percentile value is 2.0
79 percentile value is 2.0
80 percentile value is 2.0

90-99% of users have on average 20 followers
70-74% of users have 5 followers
75-80% of users have 6-7 followers
50-54% of users have 2 followers
55-60% of users have 3 followers
20-30% of users have only 1 follower

In [15]:
outdegree_dist = list(dict(G.out_degree()).values())
outdegree_dist.sort()

In [16]:
for i in range(0,11):
    print(90+i,'percentile value is',np.percentile(outdegree_dist,90+i))

90 percentile value is 4.0
91 percentile value is 4.0
92 percentile value is 5.0
93 percentile value is 6.0
94 percentile value is 7.0
95 percentile value is 8.0
96 percentile value is 10.0
97 percentile value is 12.0
98 percentile value is 16.0
99 percentile value is 23.0
100 percentile value is 895.0

In [17]:
for i in range(0,11):
    print(70+i,'percentile value is',np.percentile(outdegree_dist,70+i))

70 percentile value is 0.0
71 percentile value is 0.0
72 percentile value is 0.0
73 percentile value is 0.0
74 percentile value is 0.0
75 percentile value is 0.0
76 percentile value is 1.0
77 percentile value is 1.0
78 percentile value is 1.0
79 percentile value is 1.0
80 percentile value is 1.0

In [18]:
for i in range(0,11):
    print(50+i,'percentile value is',np.percentile(outdegree_dist,50+i))

50 percentile value is 0.0
51 percentile value is 0.0
52 percentile value is 0.0
53 percentile value is 0.0
54 percentile value is 0.0
55 percentile value is 0.0
56 percentile value is 0.0
57 percentile value is 0.0
58 percentile value is 0.0
59 percentile value is 0.0
60 percentile value is 0.0

In [19]:
for i in range(0,11):
    print(20+i,'percentile value is',np.percentile(outdegree_dist,20+i))

20 percentile value is 0.0
21 percentile value is 0.0
22 percentile value is 0.0
23 percentile value is 0.0
24 percentile value is 0.0
25 percentile value is 0.0
26 percentile value is 0.0
27 percentile value is 0.0
28 percentile value is 0.0
29 percentile value is 0.0
30 percentile value is 0.0

90-99% of users are following 23 users
70-74% of users are following 5 users
75-80% of users are following 6-7 users
50-54% of users are following 2 users
55-60% of users are following 3 users
20-30% of users are following just 1 user

In [20]:
print("No of people not following anyone: ",sum(np.array(outdegree_dist)==0)," and the % is: ",
      round(sum(np.array(outdegree_dist)==0)*100/len(outdegree_dist),2),"%")

No of people not following anyone:  531926  and the % is:  75.25 %

In [21]:
print("No of people having 0 followers: ",sum(np.array(indegree_dist)==0)," and the % is: ",
      round(sum(np.array(indegree_dist)==0)*100/len(indegree_dist),2),"%")

No of people having 0 followers:  115467  and the % is:  16.33 %

Total No of Users:18,62,220
    
90-99% of users have on average 20 followers
70-74% of users have 5 followers
75-80% of users have 6-7 followers
50-54% of users have 2 followers
55-60% of users have 3 followers
20-30% of users have only 1 follower

90-99% of users are following 23 users
70-74% of users are following 5 users
75-80% of users are following 6-7 users
50-54% of users are following 2 users
55-60% of users are following 3 users
20-30% of users are following just 1 user

A total of 2,74,512(14.74%) users are not following anyone
A total of 1,88,043(10.1%) users have 0 followers

In [22]:
data["source_node"].min()

1

In [23]:
data["source_node"].max()

205019

In [24]:
data["destination_node"].min()

1

In [25]:
data["destination_node"].max()

1862218

# Retrieve Unconnected Nodes(Negative Samples)

In [26]:
data.columns

Index(['source_node', 'destination_node'], dtype='object')

In [27]:
import random

edges=dict()

for edge in data:
    
    edges[(edge[0],edge[1])]=1

    
missing_edges=set([])

while(len(missing_edges)<1048575):
    
    a=random.randint(1,706881)
    b=random.randint(1,706881)
    
    tmp=edges.get((a,b),-1)
    
    if tmp==-1 and a!=b:
        
        try:
            
            if nx.shortest_path_length(G,source=a,target=b)>2:
                
                missing_edges.add((a,b))
                
            else:
                
                continue
        
        except:
            
            missing_edges.add((a,b))
    
    else:
        
        continue

In [28]:
len(missing_edges)

1048575

In [29]:
type(missing_edges)

set

In [30]:
df_pos=pd.read_csv("C:/Users/Shafiq/Desktop/arsh LU/train.csv")
df_neg=pd.DataFrame(list(missing_edges),columns=['source_node', 'destination_node'])

In [31]:
len(df_pos)

1048575

In [32]:
df_pos.head()

   source_node  destination_node
0            1            690569
1            1            315892
2            1            189226
3            2            834328
4            2           1615927

In [33]:
len(df_neg)

1048575

In [34]:
df_neg.head()

   source_node  destination_node
0       110322            138620
1        89020            200631
2        26829            453317
3       481145            405777
4       545955            337631

In [35]:
link_indicator_pos=[]

for i in range(len(df_pos)):
    
    link_indicator_pos.append(1)

In [36]:
link_indicator_neg=[]

for i in range(len(df_neg)):
    
    link_indicator_neg.append(0)

In [37]:
df_pos["indicator_link"]=link_indicator_pos

df_neg["indicator_link"]=link_indicator_neg

In [38]:
df_pos.head()

   source_node  destination_node  indicator_link
0            1            690569               1
1            1            315892               1
2            1            189226               1
3            2            834328               1
4            2           1615927               1

In [39]:
df_neg.head()

   source_node  destination_node  indicator_link
0       110322            138620               0
1        89020            200631               0
2        26829            453317               0
3       481145            405777               0
4       545955            337631               0

In [40]:
x_pos=df_pos.drop("indicator_link",axis=1)
y_pos=np.array(df_pos["indicator_link"])

print(x_pos.shape)

print(y_pos.shape)

(1048575, 2)
(1048575,)

In [41]:
x_neg=df_neg.drop("indicator_link",axis=1)
y_neg=np.array(df_neg["indicator_link"])

print(x_neg.shape)

print(y_neg.shape)

(1048575, 2)
(1048575,)

# Creating Train and Test datasets

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
x_pos_train,x_pos_test,y_pos_train,y_pos_test=train_test_split(x_pos,y_pos,test_size=0.2,random_state=1)
x_neg_train,x_neg_test,y_neg_train,y_neg_test=train_test_split(x_neg,y_neg,test_size=0.2,random_state=1)

In [45]:
print("x_pos_train shape: ",x_pos_train.shape)
print("y_pos_train shape: ",y_pos_train.shape)
print("x_pos_test shape: ",x_pos_test.shape)
print("y_pos_test shape: ",y_pos_test.shape)

x_pos_train shape:  (838860, 2)
y_pos_train shape:  (838860,)
x_pos_test shape:  (209715, 2)
y_pos_test shape:  (209715,)

In [46]:
print("x_neg_train shape: ",x_neg_train.shape)
print("y_neg_train shape: ",y_neg_train.shape)
print("x_neg_test shape: ",x_neg_test.shape)
print("y_neg_test shape: ",y_neg_test.shape)

x_neg_train shape:  (838860, 2)
y_neg_train shape:  (838860,)
x_neg_test shape:  (209715, 2)
y_neg_test shape:  (209715,)

In [47]:
x_train=x_pos_train.append(x_neg_train,ignore_index=True)
y_train=np.concatenate((y_pos_train,y_neg_train))

x_test=x_pos_test.append(x_neg_test,ignore_index=True)
y_test=np.concatenate((y_pos_test,y_neg_test))

print("x_train shape: ",x_train.shape)
print("y_train shape: ",y_train.shape)
print("x_test shape: ",x_test.shape)
print("y_test shape: ",y_test.shape)

x_train shape:  (1677720, 2)
y_train shape:  (1677720,)
x_test shape:  (419430, 2)
y_test shape:  (419430,)

C:\Users\Shafiq\AppData\Local\Temp\ipykernel_12316\475541058.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x_train=x_pos_train.append(x_neg_train,ignore_index=True)
C:\Users\Shafiq\AppData\Local\Temp\ipykernel_12316\475541058.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x_test=x_pos_test.append(x_neg_test,ignore_index=True)

In [48]:
type(x_train)

pandas.core.frame.DataFrame

In [49]:
type(y_train)

numpy.ndarray

In [50]:
final_train=pd.concat([x_train,pd.DataFrame(y_train)],axis=1,ignore_index=True)

final_train.columns=["source_node","destination_node","link_indicator"]

final_train

         source_node  destination_node  link_indicator
0             128335            990238               1
1              64311            874986               1
2             108983           1416606               1
3              17882           1789054               1
4             109045             85458               1
...              ...               ...             ...
1677715       631382            196479               0
1677716        50664             47983               0
1677717       277610            317522               0
1677718       443136            132821               0
1677719       104387            704051               0

[1677720 rows x 3 columns]

In [51]:
final_test=pd.concat([x_test,pd.DataFrame(y_test)],axis=1,ignore_index=True)

final_test.columns=["source_node","destination_node","link_indicator"]

final_test

        source_node  destination_node  link_indicator
0            204446            139592               1
1             70119            256428               1
2            171448           1548414               1
3            108453            163467               1
4             53271           1548358               1
...             ...               ...             ...
419425       559059            137244               0
419426       270923            688340               0
419427       399586            700444               0
419428       285081            335390               0
419429        10864            630525               0

[419430 rows x 3 columns]

# Featurization

In [52]:
train_graph=nx.from_pandas_edgelist(final_train,source="source_node",target="destination_node",create_using=nx.DiGraph)

print(nx.info(train_graph))

C:\Users\Shafiq\AppData\Local\Temp\ipykernel_12316\3356232990.py:3: DeprecationWarning: info is deprecated and will be removed in version 3.0.

  print(nx.info(train_graph))

DiGraph with 986294 nodes and 1677720 edges

In [53]:
test_graph=nx.from_pandas_edgelist(final_test,source="source_node",target="destination_node",create_using=nx.DiGraph)

print(nx.info(test_graph))

C:\Users\Shafiq\AppData\Local\Temp\ipykernel_12316\3533697667.py:3: DeprecationWarning: info is deprecated and will be removed in version 3.0.

  print(nx.info(test_graph))

DiGraph with 504097 nodes and 419430 edges

# For train dataset

# Jaccard Similarity

In [54]:
def jaccard_followees(n1,n2):
    
        
    try:
        
               
        if(len(set(train_graph.successors(n1)))==0 or len(set(train_graph.successors(n2)))==0):
            
                       
            return 0
        
        else:
            
            sim = (len(set(train_graph.successors(n1)).intersection(set(train_graph.successors(n2)))))/\
                                    (len(set(train_graph.successors(n1)).union(set(train_graph.successors(n2)))))
            
            return sim
    
    except:
        
        
        return 0

In [55]:
jaccard_followees(100102,540347)

0.0

In [56]:
set(train_graph.successors(100102))

{162646, 569291}

In [57]:
set(train_graph.successors(540347))

{44997}

In [58]:
def jaccard_followers(n1,n2):
    
        
    try:
        
               
        if(len(set(train_graph.predecessors(n1)))==0 or len(set(train_graph.predecessors(n2)))==0):
            
                       
            return 0
        
        else:
            
            sim = (len(set(train_graph.predecessors(n1)).intersection(set(train_graph.predecessors(n2)))))/\
                                    (len(set(train_graph.predecessors(n1)).union(set(train_graph.predecessors(n2)))))
            
            return sim
    
    except:
        
        
        return 0

In [59]:
jaccard_followers(100102,540347)

0

In [60]:
set(train_graph.predecessors(100102))

{131512, 162646, 226467}

In [61]:
set(train_graph.predecessors(540347))

set()

# Cosine Similarity

In [62]:
def cosine_followees(n1,n2):
    try:
        if len(set(train_graph.successors(n1))) == 0  | len(set(train_graph.successors(n2))) == 0:
            return 0
        sim = (len(set(train_graph.successors(n1)).intersection(set(train_graph.successors(n2)))))/\
                                    (math.sqrt(len(set(train_graph.successors(n1)))*len((set(train_graph.successors(n2))))))
       
        return sim
    
    except:
        return 0

In [63]:
cosine_followees(100102,540347)

0

In [64]:
def cosine_followers(n1,n2):
    try:
        if len(set(train_graph.predecessors(n1))) == 0  | len(set(train_graph.predecessors(n2))) == 0:
            return 0
        sim = (len(set(train_graph.predecessors(n1)).intersection(set(train_graph.predecessors(n2)))))/\
                                    (math.sqrt(len(set(train_graph.predecessors(n1)))*len((set(train_graph.predecessors(n2))))))
       
        return sim
    
    except:
        return 0

In [65]:
cosine_followers(100102,540347)

0

# Avg_Similarity

In [66]:
def avgsim_followees(n1,n2):
    
    jaccard=jaccard_followees(n1,n2)
    cosine=cosine_followees(n1,n2)
    
    sim=round(((jaccard+cosine)/2),2)
    
    return sim

In [67]:
avgsim_followees(100102,540347)

0.0

In [68]:
def avgsim_followers(n1,n2):
    
    jaccard=jaccard_followers(n1,n2)
    cosine=cosine_followers(n1,n2)
    
    sim=round(((jaccard+cosine)/2),2)
    
    return sim

In [69]:
avgsim_followers(100102,540347)

0.0

# Adamic/Adar Index

In [70]:
def adar_in(n1,n2):
    
    sum=0
    
    try:
        
        n=list(set(train_graph.successors(n1)).intersection(set(train_graph.successors(n2))))
        
        if len(n)!=0:
            
            for i in n:
                
                sum=sum+(1/np.log10(len(list(train_graph.predecessors(i)))))
                
            return sum
        
        else:
            
            return 0
    except:
        
        return 0

In [71]:
adar_in(100102,540347)

0

In [72]:
adar_in(128335,990238)

0

# Is Followback

In [73]:
def is_followback(n1,n2):
    
    if train_graph.has_edge(n1,n2):
        
        return 1
    
    else:
        
        return 0

In [74]:
is_followback(128335,990238)

1

# Shortest Path

In [75]:
def shortest_path_length(n1,n2):
    path=-1
    try:
        if train_graph.has_edge(n1,n2):
            train_graph.remove_edge(n1,n2)
            path= nx.shortest_path_length(train_graph,source=n1,target=n2)
            train_graph.add_edge(n1,n2)
        else:
            path= nx.shortest_path_length(train_graph,source=n1,target=n2)
        return path
    except:
        return -1

In [76]:
shortest_path_length(128335,990238)

3

In [77]:
df=final_train.head()

df

   source_node  destination_node  link_indicator
0       128335            990238               1
1        64311            874986               1
2       108983           1416606               1
3        17882           1789054               1
4       109045             85458               1

In [78]:
g=nx.from_pandas_edgelist(df,source="source_node",target="destination_node",create_using=nx.DiGraph)

print(nx.info(g))

DiGraph with 10 nodes and 5 edges

C:\Users\Shafiq\AppData\Local\Temp\ipykernel_12316\1025518738.py:3: DeprecationWarning: info is deprecated and will be removed in version 3.0.

  print(nx.info(g))

In [79]:
from tqdm import tqdm

In [80]:
for i in  tqdm(g.nodes()):
    
    print(i)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<?, ?it/s]

128335
990238
64311
874986
108983
1416606
17882
1789054
109045
85458

# Weight Indexes

In [81]:
Weight_in = {}
Weight_out = {}

for i in  tqdm(train_graph.nodes()):
    
    win=set(train_graph.predecessors(i))
    
    w_in = 1.0/(np.sqrt(1+len(win)))
    
    Weight_in[i]=w_in
    
    wout=set(train_graph.successors(i))
    
    w_out = 1.0/(np.sqrt(1+len(wout)))
    
    Weight_out[i]=w_out

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 986294/986294 [00:08<00:00, 122922.27it/s]

In [82]:
len(Weight_in)

986294

In [83]:
mean_weight_in = np.mean(list(Weight_in.values()))
mean_weight_out = np.mean(list(Weight_out.values()))

In [84]:
mean_weight_in

0.6631364251212946

In [85]:
ftrain=final_train.copy()

In [86]:
ftrain['weight_in'] = ftrain.destination_node.apply(lambda x: Weight_in.get(x,mean_weight_in))
ftrain['weight_out'] = ftrain.source_node.apply(lambda x: Weight_out.get(x,mean_weight_out))

In [87]:
ftrain

         source_node  destination_node  link_indicator  weight_in  weight_out
0             128335            990238               1   0.408248    0.134840
1              64311            874986               1   0.577350    0.242536
2             108983           1416606               1   0.577350    0.333333
3              17882           1789054               1   0.707107    0.408248
4             109045             85458               1   0.447214    0.185695
...              ...               ...             ...        ...         ...
1677715       631382            196479               0   0.707107    0.577350
1677716        50664             47983               0   0.447214    0.353553
1677717       277610            317522               0   0.707107    0.500000
1677718       443136            132821               0   0.577350    0.707107
1677719       104387            704051               0   0.707107    0.500000

[1677720 rows x 5 columns]

In [88]:
#ftrain.drop("weight_in",axis=1,inplace=True)
#ftrain.drop("weight_out",axis=1,inplace=True)

ftrain

         source_node  destination_node  link_indicator  weight_in  weight_out
0             128335            990238               1   0.408248    0.134840
1              64311            874986               1   0.577350    0.242536
2             108983           1416606               1   0.577350    0.333333
3              17882           1789054               1   0.707107    0.408248
4             109045             85458               1   0.447214    0.185695
...              ...               ...             ...        ...         ...
1677715       631382            196479               0   0.707107    0.577350
1677716        50664             47983               0   0.447214    0.353553
1677717       277610            317522               0   0.707107    0.500000
1677718       443136            132821               0   0.577350    0.707107
1677719       104387            704051               0   0.707107    0.500000

[1677720 rows x 5 columns]

# Pipeline for train dataset

In [89]:
final_train

         source_node  destination_node  link_indicator
0             128335            990238               1
1              64311            874986               1
2             108983           1416606               1
3              17882           1789054               1
4             109045             85458               1
...              ...               ...             ...
1677715       631382            196479               0
1677716        50664             47983               0
1677717       277610            317522               0
1677718       443136            132821               0
1677719       104387            704051               0

[1677720 rows x 3 columns]

In [90]:
source=int(ftrain["source_node"][0])

type(source)

int

In [91]:
#jaccard_followees(n1,n2)
#jaccard_followers(n1,n2)
#cosine_followees(n1,n2)
#cosine_followers(n1,n2)
#avgsim_followees(n1,n2)
#avgsim_followers(n1,n2)
#adar_in(n1,n2)
#is_followback(n1,n2)
#shortest_path_length(n1,n2)

In [92]:
jac_followees=[]
jac_followers=[]
cos_followees=[]
cos_followers=[]
asim_followees=[]
asim_followers=[]
adarin=[]
followback=[]
short_path=[]
source_numfollowees=[]
dest_numfollowees=[]
source_numfollowers=[]
dest_numfollowers=[]
common_numfollowees=[]
common_numfollowers=[]



#for index,row in ftrain.iterrows():
    
source=int(ftrain["source_node"][6])
dest=int(ftrain["destination_node"][6])

jac_followees.append(jaccard_followees(source,dest))
jac_followers.append(jaccard_followers(source,dest))
cos_followees.append(cosine_followees(source,dest))
cos_followers.append(cosine_followers(source,dest))
asim_followees.append(avgsim_followees(source,dest))
asim_followers.append(avgsim_followers(source,dest))
adarin.append(adar_in(source,dest))
followback.append(is_followback(source,dest))
short_path.append(shortest_path_length(source,dest))

s_followees=set(train_graph.predecessors(source))
s_followers=set(train_graph.successors(source))
d_followees=set(train_graph.predecessors(dest))
d_followers=set(train_graph.successors(dest))

cm_folowees=s_followees.intersection(d_followees)
cm_folowers=s_followers.intersection(d_followers)

source_numfollowees.append(len(s_followees))
dest_numfollowees.append(len(d_followees))
source_numfollowers.append(len(s_followers))
dest_numfollowers.append(len(d_followers))

common_numfollowees.append(len(cm_folowees))
common_numfollowers.append(len(cm_folowers))

print("jac_followees: ", jac_followees)
print("jac_followers: ",jac_followers)
print("cos_followees: ",cos_followees)
print("cos_followers: ",cos_followers)
print("asim_followees: ",asim_followees)
print("asim_followers: ",asim_followers)
print("adarin: ",adarin)
print("Is followback: ",followback)
print("short_path: ",short_path)
print("source_numfollowees: ",source_numfollowees)
print("dest_numfollowees: ",dest_numfollowees)
print("source_numfollowers: ",source_numfollowers)
print("dest_numfollowers: ",dest_numfollowees)
print("common_numfollowers: ",common_numfollowees)
print("common_numfollowers: ",common_numfollowees)

jac_followees:  [0]
jac_followers:  [0.0]
cos_followees:  [0]
cos_followers:  [0]
asim_followees:  [0.0]
asim_followers:  [0.0]
adarin:  [0]
Is followback:  [1]
short_path:  [-1]
source_numfollowees:  [7]
dest_numfollowees:  [0]
source_numfollowers:  [18]
dest_numfollowers:  [0]
common_numfollowers:  [0]
common_numfollowers:  [0]

In [93]:
jac_followees=[]
jac_followers=[]
cos_followees=[]
cos_followers=[]
asim_followees=[]
asim_followers=[]
adarin=[]
followback=[]
short_path=[]
source_numfollowees=[]
dest_numfollowees=[]
source_numfollowers=[]
dest_numfollowers=[]
common_numfollowees=[]
common_numfollowers=[]



for index,row in ftrain.iterrows():
    
    source=int(row["source_node"])
    dest=int(row["destination_node"])

    jac_followees.append(jaccard_followees(source,dest))
    jac_followers.append(jaccard_followers(source,dest))
    cos_followees.append(cosine_followees(source,dest))
    cos_followers.append(cosine_followers(source,dest))   
    asim_followees.append(avgsim_followees(source,dest))
    asim_followers.append(avgsim_followers(source,dest))
    adarin.append(adar_in(source,dest))
    followback.append(is_followback(source,dest))
    short_path.append(shortest_path_length(source,dest))

    s_followees=set(train_graph.predecessors(source))
    s_followers=set(train_graph.successors(source))
    d_followees=set(train_graph.predecessors(dest))
    d_followers=set(train_graph.successors(dest))

    cm_folowees=s_followees.intersection(d_followees)
    cm_folowers=s_followers.intersection(d_followers)

    source_numfollowees.append(len(s_followees))
    dest_numfollowees.append(len(d_followees))
    source_numfollowers.append(len(s_followers))
    dest_numfollowers.append(len(d_followers))

    common_numfollowees.append(len(cm_folowees))
    common_numfollowers.append(len(cm_folowers))

In [94]:
len(jac_followees)

1677720

In [95]:
final_train["Jaccard_followees"]=jac_followees
final_train["Jaccard_followers"]=jac_followers
final_train["cosine_followees"]=cos_followees
final_train["cosine_followers"]=cos_followers
final_train["Avg_sim_followees"]=asim_followees
final_train["Avg_sim_followers"]=asim_followers
final_train["Adar Index"]=adarin
final_train["Is_Followback"]=followback
final_train["Shortest Path"]=short_path
final_train["source_followees"]=source_numfollowees
final_train["dest_followees"]=dest_numfollowees
final_train["source_followers"]=source_numfollowers
final_train["dest_followers"]=dest_numfollowers
final_train["common_followees"]=common_numfollowees
final_train["common_followers"]=common_numfollowers

In [96]:
final_train

,source_node,destination_node,link_indicator,Jaccard_followees,Jaccard_followers,cosine_followees,cosine_followers,Avg_sim_followees,Avg_sim_followers,Adar Index,Is_Followback,Shortest Path,source_followees,dest_followees,source_followers,dest_followers,common_followees,common_followers
0,128335,990238,1,0.000000,0.00,0,0,0.00,0.00,0.000000,1,3,2,5,54,0,0,0
1,64311,874986,1,0.000000,0.25,0,0,0.00,0.12,0.000000,1,16,3,2,16,0,1,0
2,108983,1416606,1,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,2,1,7,0,0,0
3,17882,1789054,1,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,0,4,0,0,0
4,109045,85458,1,0.051282,0.00,0,0,0.03,0.00,2.183295,1,7,6,4,28,13,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677715,631382,196479,0,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,0,0,0,0,0
1677716,50664,47983,0,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,1,3,2,0,0
1677717,277610,317522,0,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,1,0,0,0,0,0
1677718,443136,132821,0,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,0,0,0,0,0
1677719,104387,704051,0,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,0,2,0,0,0

In [97]:
final_train['weight_in'] = final_train.destination_node.apply(lambda x: Weight_in.get(x,mean_weight_in))
final_train['weight_out'] = final_train.source_node.apply(lambda x: Weight_out.get(x,mean_weight_out))

In [98]:
final_train

,source_node,destination_node,link_indicator,Jaccard_followees,Jaccard_followers,cosine_followees,cosine_followers,Avg_sim_followees,Avg_sim_followers,Adar Index,Is_Followback,Shortest Path,source_followees,dest_followees,source_followers,dest_followers,common_followees,common_followers,weight_in,weight_out
0,128335,990238,1,0.000000,0.00,0,0,0.00,0.00,0.000000,1,3,2,5,54,0,0,0,0.408248,0.134840
1,64311,874986,1,0.000000,0.25,0,0,0.00,0.12,0.000000,1,16,3,2,16,0,1,0,0.577350,0.242536
2,108983,1416606,1,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,2,1,7,0,0,0,0.577350,0.333333
3,17882,1789054,1,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,0,4,0,0,0,0.707107,0.408248
4,109045,85458,1,0.051282,0.00,0,0,0.03,0.00,2.183295,1,7,6,4,28,13,0,2,0.447214,0.185695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677715,631382,196479,0,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,0,0,0,0,0,0.707107,0.577350
1677716,50664,47983,0,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,1,3,2,0,0,0.447214,0.353553
1677717,277610,317522,0,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,1,0,0,0,0,0,0.707107,0.500000
1677718,443136,132821,0,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,0,0,0,0,0,0.577350,0.707107
1677719,104387,704051,0,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,0,2,0,0,0,0.707107,0.500000

In [99]:
link_indicator=final_train["link_indicator"].tolist()

final_train.drop("link_indicator",axis=1,inplace=True)

final_train["link_indicator"]=link_indicator

In [100]:
final_train

,source_node,destination_node,Jaccard_followees,Jaccard_followers,cosine_followees,cosine_followers,Avg_sim_followees,Avg_sim_followers,Adar Index,Is_Followback,Shortest Path,source_followees,dest_followees,source_followers,dest_followers,common_followees,common_followers,weight_in,weight_out,link_indicator
0,128335,990238,0.000000,0.00,0,0,0.00,0.00,0.000000,1,3,2,5,54,0,0,0,0.408248,0.134840,1
1,64311,874986,0.000000,0.25,0,0,0.00,0.12,0.000000,1,16,3,2,16,0,1,0,0.577350,0.242536,1
2,108983,1416606,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,2,1,7,0,0,0,0.577350,0.333333,1
3,17882,1789054,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,0,4,0,0,0,0.707107,0.408248,1
4,109045,85458,0.051282,0.00,0,0,0.03,0.00,2.183295,1,7,6,4,28,13,0,2,0.447214,0.185695,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677715,631382,196479,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,0,0,0,0,0,0.707107,0.577350,0
1677716,50664,47983,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,1,3,2,0,0,0.447214,0.353553,0
1677717,277610,317522,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,1,0,0,0,0,0,0.707107,0.500000,0
1677718,443136,132821,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,0,0,0,0,0,0.577350,0.707107,0
1677719,104387,704051,0.000000,0.00,0,0,0.00,0.00,0.000000,1,-1,0,0,2,0,0,0,0.707107,0.500000,0

# For Test

In [101]:
print(nx.info(test_graph))

C:\Users\Shafiq\AppData\Local\Temp\ipykernel_12316\581555850.py:1: DeprecationWarning: info is deprecated and will be removed in version 3.0.

  print(nx.info(test_graph))

DiGraph with 504097 nodes and 419430 edges

In [102]:
final_test

        source_node  destination_node  link_indicator
0            204446            139592               1
1             70119            256428               1
2            171448           1548414               1
3            108453            163467               1
4             53271           1548358               1
...             ...               ...             ...
419425       559059            137244               0
419426       270923            688340               0
419427       399586            700444               0
419428       285081            335390               0
419429        10864            630525               0

[419430 rows x 3 columns]

# Jaccard Similarity

In [103]:
def jaccard_followees(n1,n2):
    
        
    try:
        
               
        if(len(set(test_graph.successors(n1)))==0 or len(set(test_graph.successors(n2)))==0):
            
                       
            return 0
        
        else:
            
            sim = (len(set(test_graph.successors(n1)).intersection(set(test_graph.successors(n2)))))/\
                                    (len(set(test_graph.successors(n1)).union(set(test_graph.successors(n2)))))
            
            return sim
    
    except:
        
        
        return 0

In [104]:
jaccard_followees(204446,139592)

0.0

In [105]:
def jaccard_followers(n1,n2):
    
        
    try:
        
               
        if(len(set(test_graph.predecessors(n1)))==0 or len(set(test_graph.predecessors(n2)))==0):
            
                       
            return 0
        
        else:
            
            sim = (len(set(test_graph.predecessors(n1)).intersection(set(test_graph.predecessors(n2)))))/\
                                    (len(set(test_graph.predecessors(n1)).union(set(test_graph.predecessors(n2)))))
            
            return sim
    
    except:
        
        
        return 0

In [106]:
jaccard_followers(204446,139592)

0.0

# Cosine Similarity

In [107]:
def cosine_followees(n1,n2):
    try:
        if len(set(test_graph.successors(n1))) == 0  | len(set(test_graph.successors(n2))) == 0:
            return 0
        sim = (len(set(test_graph.successors(n1)).intersection(set(test_graph.successors(n2)))))/\
                                    (math.sqrt(len(set(test_graph.successors(n1)))*len((set(test_graph.successors(n2))))))
       
        return sim
    
    except:
        return 0

In [108]:
cosine_followees(204446,139592)

0

In [109]:
def cosine_followers(n1,n2):
    try:
        if len(set(test_graph.predecessors(n1))) == 0  | len(set(test_graph.predecessors(n2))) == 0:
            return 0
        sim = (len(set(test_graph.predecessors(n1)).intersection(set(test_graph.predecessors(n2)))))/\
                                    (math.sqrt(len(set(test_graph.predecessors(n1)))*len((set(test_graph.predecessors(n2))))))
       
        return sim
    
    except:
        return 0

In [110]:
cosine_followers(204446,139592)

0

# Avg Similarity

In [111]:
def avgsim_followees(n1,n2):
    
    jaccard=jaccard_followees(n1,n2)
    cosine=cosine_followees(n1,n2)
    
    sim=round(((jaccard+cosine)/2),2)
    
    return sim

In [112]:
avgsim_followees(204446,139592)

0.0

In [113]:
def avgsim_followers(n1,n2):
    
    jaccard=jaccard_followers(n1,n2)
    cosine=cosine_followers(n1,n2)
    
    sim=round(((jaccard+cosine)/2),2)
    
    return sim

In [114]:
avgsim_followers(204446,139592)

0.0

# Adamic/Adar Index

In [115]:
 def adar_in(n1,n2):
    
    sum=0
    
    try:
        
        n=list(set(test_graph.successors(n1)).intersection(set(test_graph.successors(n2))))
        
        if len(n)!=0:
            
            for i in n:
                
                sum=sum+(1/np.log10(len(list(test_graph.predecessors(i)))))
                
            return sum
        
        else:
            
            return 0
    except:
        
        return 0

In [116]:
adar_in(204446,139592)

0

# is_Followback

In [117]:
def is_followback(n1,n2):
    
    if test_graph.has_edge(n1,n2):
        
        return 1
    
    else:
        
        return 0

In [118]:
is_followback(204446,139592)

1

# Shortest Path

In [119]:
def shortest_path_length(n1,n2):
    path=-1
    try:
        if test_graph.has_edge(n1,n2):
            test_graph.remove_edge(n1,n2)
            path= nx.shortest_path_length(test_graph,source=n1,target=n2)
            test_graph.add_edge(n1,n2)
        else:
            path= nx.shortest_path_length(test_graph,source=n1,target=n2)
        return path
    except:
        return -1

In [120]:
shortest_path_length(204446,139592)

-1

# Weight Indexes

In [121]:
Weight_in = {}
Weight_out = {}

for i in  tqdm(test_graph.nodes()):
    
    win=set(test_graph.predecessors(i))
    
    w_in = 1.0/(np.sqrt(1+len(win)))
    
    Weight_in[i]=w_in
    
    wout=set(test_graph.successors(i))
    
    w_out = 1.0/(np.sqrt(1+len(wout)))
    
    Weight_out[i]=w_out

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 504097/504097 [00:03<00:00, 126880.86it/s]

# Pipeline for Test Dataset

In [122]:
jac_followees=[]
jac_followers=[]
cos_followees=[]
cos_followers=[]
asim_followees=[]
asim_followers=[]
adarin=[]
followback=[]
short_path=[]
source_numfollowees=[]
dest_numfollowees=[]
source_numfollowers=[]
dest_numfollowers=[]
common_numfollowees=[]
common_numfollowers=[]



#for index,row in ftrain.iterrows():
    
source=int(final_test["source_node"][7])
dest=int(final_test["destination_node"][7])

jac_followees.append(jaccard_followees(source,dest))
jac_followers.append(jaccard_followers(source,dest))
cos_followees.append(cosine_followees(source,dest))
cos_followers.append(cosine_followers(source,dest))
asim_followees.append(avgsim_followees(source,dest))
asim_followers.append(avgsim_followers(source,dest))
adarin.append(adar_in(source,dest))
followback.append(is_followback(source,dest))
short_path.append(shortest_path_length(source,dest))

s_followees=set(test_graph.predecessors(source))
s_followers=set(test_graph.successors(source))
d_followees=set(test_graph.predecessors(dest))
d_followers=set(test_graph.successors(dest))

cm_folowees=s_followees.intersection(d_followees)
cm_folowers=s_followers.intersection(d_followers)

source_numfollowees.append(len(s_followees))
dest_numfollowees.append(len(d_followees))
source_numfollowers.append(len(s_followers))
dest_numfollowers.append(len(d_followers))

common_numfollowees.append(len(cm_folowees))
common_numfollowers.append(len(cm_folowers))

print("jac_followees: ", jac_followees)
print("jac_followers: ",jac_followers)
print("cos_followees: ",cos_followees)
print("cos_followers: ",cos_followers)
print("asim_followees: ",asim_followees)
print("asim_followers: ",asim_followers)
print("adarin: ",adarin)
print("Is followback: ",followback)
print("short_path: ",short_path)
print("source_numfollowees: ",source_numfollowees)
print("dest_numfollowees: ",dest_numfollowees)
print("source_numfollowers: ",source_numfollowers)
print("dest_numfollowers: ",dest_numfollowees)
print("common_numfollowers: ",common_numfollowees)
print("common_numfollowers: ",common_numfollowees)

jac_followees:  [0]
jac_followers:  [0]
cos_followees:  [0]
cos_followers:  [0]
asim_followees:  [0.0]
asim_followers:  [0.0]
adarin:  [0]
Is followback:  [1]
short_path:  [4]
source_numfollowees:  [0]
dest_numfollowees:  [5]
source_numfollowers:  [13]
dest_numfollowers:  [5]
common_numfollowers:  [0]
common_numfollowers:  [0]

In [123]:
jac_followees=[]
jac_followers=[]
cos_followees=[]
cos_followers=[]
asim_followees=[]
asim_followers=[]
adarin=[]
followback=[]
short_path=[]
source_numfollowees=[]
dest_numfollowees=[]
source_numfollowers=[]
dest_numfollowers=[]
common_numfollowees=[]
common_numfollowers=[]



for index,row in final_test.iterrows():
    
    source=int(row["source_node"])
    dest=int(row["destination_node"])

    jac_followees.append(jaccard_followees(source,dest))
    jac_followers.append(jaccard_followers(source,dest))
    cos_followees.append(cosine_followees(source,dest))
    cos_followers.append(cosine_followers(source,dest))   
    asim_followees.append(avgsim_followees(source,dest))
    asim_followers.append(avgsim_followers(source,dest))
    adarin.append(adar_in(source,dest))
    followback.append(is_followback(source,dest))
    short_path.append(shortest_path_length(source,dest))

    s_followees=set(test_graph.predecessors(source))
    s_followers=set(test_graph.successors(source))
    d_followees=set(test_graph.predecessors(dest))
    d_followers=set(test_graph.successors(dest))

    cm_folowees=s_followees.intersection(d_followees)
    cm_folowers=s_followers.intersection(d_followers)

    source_numfollowees.append(len(s_followees))
    dest_numfollowees.append(len(d_followees))
    source_numfollowers.append(len(s_followers))
    dest_numfollowers.append(len(d_followers))

    common_numfollowees.append(len(cm_folowees))
    common_numfollowers.append(len(cm_folowers))

In [124]:
len(jac_followees)

419430

In [125]:
final_test["Jaccard_followees"]=jac_followees
final_test["Jaccard_followers"]=jac_followers
final_test["cosine_followees"]=cos_followees
final_test["cosine_followers"]=cos_followers
final_test["Avg_sim_followees"]=asim_followees
final_test["Avg_sim_followers"]=asim_followers
final_test["Adar Index"]=adarin
final_test["Is_Followback"]=followback
final_test["Shortest Path"]=short_path
final_test["source_followees"]=source_numfollowees
final_test["dest_followees"]=dest_numfollowees
final_test["source_followers"]=source_numfollowers
final_test["dest_followers"]=dest_numfollowers
final_test["common_followees"]=common_numfollowees
final_test["common_followers"]=common_numfollowers

In [126]:
final_test

,source_node,destination_node,link_indicator,Jaccard_followees,Jaccard_followers,cosine_followees,cosine_followers,Avg_sim_followees,Avg_sim_followers,Adar Index,Is_Followback,Shortest Path,source_followees,dest_followees,source_followers,dest_followers,common_followees,common_followers
0,204446,139592,1,0.0,0.0,0,0,0.0,0.0,0.0,0,-1,1,0,2,1,0,0
1,70119,256428,1,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,1,0,0
2,171448,1548414,1,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,2,0,0,0
3,108453,163467,1,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,1,8,1,0,0
4,53271,1548358,1,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,2,0,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419425,559059,137244,0,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0
419426,270923,688340,0,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0
419427,399586,700444,0,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0
419428,285081,335390,0,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0
419429,10864,630525,0,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0

In [127]:
final_test['weight_in'] = final_test.destination_node.apply(lambda x: Weight_in.get(x,mean_weight_in))
final_test['weight_out'] = final_test.source_node.apply(lambda x: Weight_out.get(x,mean_weight_out))

In [128]:
final_test

,source_node,destination_node,link_indicator,Jaccard_followees,Jaccard_followers,cosine_followees,cosine_followers,Avg_sim_followees,Avg_sim_followers,Adar Index,Is_Followback,Shortest Path,source_followees,dest_followees,source_followers,dest_followers,common_followees,common_followers,weight_in,weight_out
0,204446,139592,1,0.0,0.0,0,0,0.0,0.0,0.0,0,-1,1,0,2,1,0,0,1.000000,0.577350
1,70119,256428,1,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,1,0,0,0.707107,0.707107
2,171448,1548414,1,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,2,0,0,0,0.707107,0.500000
3,108453,163467,1,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,1,8,1,0,0,0.577350,0.316228
4,53271,1548358,1,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,2,0,3,0,0,0,0.707107,0.447214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419425,559059,137244,0,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0,0.577350,0.707107
419426,270923,688340,0,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0,0.707107,0.707107
419427,399586,700444,0,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0,0.577350,0.707107
419428,285081,335390,0,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0,0.707107,0.707107
419429,10864,630525,0,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0,0.707107,0.577350

In [129]:
link_indicator=final_test["link_indicator"].tolist()

final_test.drop("link_indicator",axis=1,inplace=True)

final_test["link_indicator"]=link_indicator

In [130]:
final_test

,source_node,destination_node,Jaccard_followees,Jaccard_followers,cosine_followees,cosine_followers,Avg_sim_followees,Avg_sim_followers,Adar Index,Is_Followback,Shortest Path,source_followees,dest_followees,source_followers,dest_followers,common_followees,common_followers,weight_in,weight_out,link_indicator
0,204446,139592,0.0,0.0,0,0,0.0,0.0,0.0,0,-1,1,0,2,1,0,0,1.000000,0.577350,1
1,70119,256428,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,1,0,0,0.707107,0.707107,1
2,171448,1548414,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,2,0,0,0,0.707107,0.500000,1
3,108453,163467,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,1,8,1,0,0,0.577350,0.316228,1
4,53271,1548358,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,2,0,3,0,0,0,0.707107,0.447214,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419425,559059,137244,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0,0.577350,0.707107,0
419426,270923,688340,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0,0.707107,0.707107,0
419427,399586,700444,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0,0.577350,0.707107,0
419428,285081,335390,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0,0.707107,0.707107,0
419429,10864,630525,0.0,0.0,0,0,0.0,0.0,0.0,1,-1,0,0,0,0,0,0,0.707107,0.577350,0

# Saving the dataset as csv

In [ ]:
final_train.to_csv("C:/Users/Shafiq/Desktop/arsh LU/final_train.csv",index=False)

final_test.to_csv("C:/Users/Shafiq/Desktop/arsh LU/final_test.csv",index=False)